*
{
    margin: 0;
    padding:0;
    box-sizing: border box;
    list-style: none;

}
body
{
    background: rgb(148, 126, 148);
    font-size: 14px;
    line-height: 22px;
    color: white;
}
.vv.jpg
{
    width: 4px;
    float: right;
}
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi-bold{
    font-weight: 500;
    font-size: 16px;

}
.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;

}
.resume .resume_left{
width: 280px;
background: rosybrown;
}
.resume .resume_left .resume_prfile{
    width: 100px;
    height: 280px;

}
.resume .resume_left .vv.jpg{
    width: 100%;
    height: 100%;


}
.resume .resume_left .resume_content{
    padding: 0 25px;

}
.resume .title{
    margin-bottom: 20px;

}
.resume .resume_left .bold{
    color: silver;
}
.resume .resume_left .regular{
    color: black;
}
.resume .resume_item{
    padding: 22px 0;
    border-bottom: 2px solid #bbbbbb;
}
.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;


}
.resume .resume_left ul li:last-child{
    margin-bottom: 0px;
}
.resume .resume_left ul li.icon{
    width: 35px;
    height: 35px;
    background:#bbbbbb ;
    color: bisque;

}
.resume .resume_left .resume_skills ul li{
    color: white;
    justify-content: space-between;

}
.resume .resume_left .resume_skills ul li .skill_name{
    width: 25%;
}
.resume .resume_left .resume_skills ul li .skill_progress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: violet;
    position: relative;


}
.resume .resume_left .resume_skills ul li .skill_progress{
    width: 15%;
    
}
.resume .resume_left .resume_skills ul li .skill_progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: darkmagenta;
}
.resume .resume_right{
    width: 520px;
    background: #bbbbbb;
    padding: 25px;
}
.resume .resume_right .bold{
    color: bisque;
}
.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul{
    padding-left: 40px;
    overflow: hidden;

}
.resume .resume_right ul li{
    position: relative;
}
.resume .resume_right ul li date{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 15px;
}
.resume .resume_right ul li .info{
    margin-bottom: 20px;

}
.resume .resume_right ul li:last-child .info{
    margin-bottom: 0;
}
.resume .resume.right .resume_work ul li:before,
.resume .resume.right .resume_education ul li:before{
    content: ;
    position:absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 20px solid #bbbbbb;
} 
.resume .resume.right .resume_work ul li:after,
.resume .resume.right .resume_education ul li:after{ 
    content: ;
    position:absolute;
    top: 14px;
    left: -21px;
    width: 3px;
    height: 115px;
    background: #bbbbbb;

}  
